<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAynVktK5BMGXgwTtDx3p1TJDda7oeYIVo</string>
	<key>GCM_SENDER_ID</key>
	<string>100656453227</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.finalProjectBaChar.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>final-project-ba-char</string>
	<key>STORAGE_BUCKET</key>
	<string>final-project-ba-char.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:100656453227:ios:399009f1cd290a07b4032e</string>
</dict>
</plist>